.clearfix:after{
    display: block;
    content:'';
    clear: both;
}

.clearfix{
    _zoom:1;
}

.container{
	width: 100%;
	max-width: 1496px;
	margin: 0 auto;
}

ul{
    padding: 0;
    margin: 0;
}

.footer-nav ul{
    list-style-type: none;
    background-color: #777;
}

.footer-nav li{
    float: left;
    display: inline-block;
}
.footer-nav li:hover{
    background-color: #555;
}

.footer-nav li a {
  display: inline-block;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-nav li a.active{
	background-color: #008CBA;
}

a:hover:not(.active){

}

section{
	width: 100%;
	text-align: justify;
	margin: 4px;
}


header{
	width: 100%;
	padding: 8px;
	margin: 4px;
}
.logo{
	width: 40%;
}

.first-section .box-holder{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float:left;
    height:10%;
	padding-bottom:26%;
}

.first-section .box-holder.left{
    background-image: url("Email-Election-We-Stand-for-Wildlife-1110-2016-1024x563.jpg");
     width: 40%;
	 
}

.first-section .box-holder.right{
	background-image: url("CJEU-Wildlife-Protection-Ruling.jpg");
    width:60%;
}

.second-section .text-wrapper,
.first-section .text-wrapper{
    text-align: center;
    color: white;
	overflow: auto;
}

.first-section .box-holder.left .text-wrapper{
	font-size: 20px;
	line-height: 1.8;
}

.second-section .box-holder{
	margin-top: 10px;
	background-image: url("lapinpollo_9106_JariPeltomaki.jpg");
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	height:26%;
	padding-bottom:26%;
}


input[type=submit] {
  background-color: red;
  color: white;
  font-size: 15px;
  padding:10px 5px 10px 5px;
  border-color: red;
}

footer{
	padding: 6px;
	background-color: #444;
	color: #FFF;
}
